In [3]:
import pandas as pd
import numpy as np

In [17]:
df = pd.DataFrame({'a': [0, 1, 2]})
df['b'] = [[3,4,5]]*3
df = df.explode('b')

In [18]:
df.loc[df.a==0,'c'] = '1kg'

In [19]:
df

   a  b    c
0  0  3  1kg
0  0  4  1kg
0  0  5  1kg
1  1  3  NaN
1  1  4  NaN
1  1  5  NaN
2  2  3  NaN
2  2  4  NaN
2  2  5  NaN

In [28]:
data0 = df.a==0
data1 = df.a==1
data2 = df.a==2

In [31]:
df.loc[data1, 'c'] = 'case'

In [37]:
df[data1]

   a  b     c
1  1  3  case
1  1  4  case
1  1  5  case

In [21]:
np.array(['a','b','t','e','l'])[[1,0,2,2,4,3]]

array(['b', 'a', 't', 't', 'l', 'e'], dtype='<U1')

In [35]:
from matplotlib.figure import Figure

In [36]:
fig = Figure()

ax = fig.subplots()

ax.patches